.footer-right {
    max-width: 379px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 15px;
  img {
    width: 70%;
    margin-bottom: 10px;
  }
  .footer-right-text {
    width: 100%;
    font-size: 12px;
    line-height: 20.4px;
    text-align: start;
    color: #cccccc;
    p{
        margin-bottom: 10px;
    }
  }
}
