.footer-top{
    max-width: 100%;
    min-height: 333px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    background-color: #313233;
    padding: 40px 0 20px 0;
}